<div class="body">
  <div class="center">
    <div class="search">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="formClass">
          <input class="inputForSelect" type="text" placeholder="Search stock name..." formControlName="searchTerm"
            (input)="onSearchChange()" (focus)="onSearchFocus()" (blur)="onSearchBlur()" />
          <mat-form-field>
            <mat-label>Select Product</mat-label>
            <mat-select #select formControlName="selectedStock" id="symbols"
              [style.display]="isDropdownVisible ? 'block' : 'block'" [(value)]="selected">
              <mat-option [style.display]="'block'" *ngFor="let val of filteredStocks; trackBy: trackBySymbol"
                [value]="val.symbol">
                {{ val.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button type="submit" class="submitButton">
            <span *ngIf="loading">Loading...</span>
            <span *ngIf="!loading">Submit</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  @if (showComp) {
  <app-table-data [sevenDaysData]="optionStock" [dividendInfo]="dividendStock" [intraDay]="intraDayVal" />
  } @else {
  <p>Please select a Stock</p>
  }
</div>